# Archivos compilados de Java
*.class
datos_holmwood.csv.bak

# Carpetas de salida de compilación
/out/
/build/
/target/
/bin/

# Configuración de IDE
.idea/
*.iml
.vscode/
.settings/
.classpath
.project
